- content_for :title do
  = "#{@company}'s Company Information"

.profile
  .photo.left
    = image_tag @company.logo.url(:regular)
  .info
    .name
      = @company
      = @company.facebook
      = @company.twitter
      = @company.blog
    %hr
    = @company.website
    .title= "About #{@company}"
    .about= simple_format @company.description
    .title Why We Rock
    .work-for= simple_format @company.why_work_for
    .title What We Are Looking For
    .ideal-role= simple_format @company.looking_for

  .clear