= form_tag sessions_path do
  - unless flash.empty?
    = render 'layouts/flash', flash: flash
  .input
    %label
      Email
      %span.caption Enter your email address
    = text_field_tag :email, params[:email]
  .input
    %label
      Password
      %span.caption Enter your password
    = password_field_tag :password
  .input
    %label Remember Me
    = check_box_tag :remember_me
  .submit
    = submit_tag "Log In"