
= form_tag sessions_path do
  - if flash[:error]  
    .login-error
      = image_tag 'Exclamation.png'
      - flash.each do |key, msg|  
        %strong.message= msg
  .input
    = label_tag :email
    %br
    = text_field_tag :email, params[:email]
  .input
    = label_tag :password
    %br
    = password_field_tag :password
  -#.input
  -#  = check_box_tag :remember_me, 1, params[:remember_me]
  -#  = label_tag :remember_me
  .submit
    = submit_tag "Log In"