.bid
  .bid_info.left
    %strong Candidate:
    = @bidding.seeker
    - if @bidding.seeker.has_resume?
      %span.small-text= link_to '(Resume)', @bidding.seeker.resume.url
    - else
      %span.small-text= "(#{@bidding.seeker} has not uploaded a resume)"
    %br
    %strong Job Title:
    = @bidding.title
    %br
    %strong Salary Offered:
    = "#{number_to_currency @bidding.salary, :precision => 0} / #{@bidding.salary_term}"
    %br
    %br
    %strong Job Description:
    %br
    .comment{:id => "bid#{@bidding.id}"}= simple_format(truncate(@bidding.comment, :length => 200, :omission => '... (continued)'))
    .read_more{:id => "more#{@bidding.id}"}= more_link(@bidding)
    %br
  .choice.right
    = image_tag @bidding.seeker.photo.url(:regular)
    .clear
    .interest_box
      = link_to image_tag('search_magnifier.png') + 'View Profile', @bidding.seeker.user_url
      %br
      = link_to image_tag('delete_item.png') + 'Remove Bid', employers_bidding_path(@bidding), :confirm => 'Are you sure?', :method => :delete

  .clear