= form_for [:employers, @user], :html => { :multipart => true } do |f|
  = render 'layouts/flash', flash: flash
  .input
    %label
      Email
      %span.caption The email used to login
    = f.text_field :email
  .input
    = f.label :first_name
    = f.text_field :first_name
  
  .input
    = f.label :last_name
    = f.text_field :last_name
  .input
    = f.label :password
    = f.password_field :password
  .input
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .submit
    = f.submit 'Update', class: 'button'
  .clear