= form_for [:job_seekers, @user], :html => { :multipart => true } do |f|
  = render 'layouts/flash', flash: flash
  .input
    %label
      Email
      %span.caption The email you use to login
    = f.text_field :email
  .input.no-caption
    %label First Name
    = f.text_field :first_name
  .input.no-caption
    %label Last Name
    = f.text_field :last_name
  .input.no-caption
    %label Password
    = f.password_field :password
  .input.no-caption
    %label Password Confirmation
    = f.password_field :password_confirmation
  .submit
    = f.submit 'Update Info', class: 'button'
  .clear
