= form_for [:job_seekers, @user], :url => {:action => 'update'}, :html => {:multipart => true} do |f|
  .right
    .photo
      = image_tag @user.photo.url(:regular)
      .input.photo-field
        = f.file_field :photo
    = link_to 'View my profile', user_path(current_user)

  .left
    = render 'layouts/flash', flash: flash
    .input
      %label
        Resume
        %span.caption Upload your Resume
      = f.file_field :resume
      - if !@user.resume_file_name.eql? nil
        %p
          = link_to "Current resume", @user.resume.url, target: '_blank'
    .input
      %span.url-label= "http://#{request.host}/"
      = f.text_field :user_url
      %i.icon-question-sign.bootstrapTooltip{rel: 'tooltip', 'data-title' => 'This is your public URL and will be used to direct visitors to your profile.'}
  .input
    %span.url-label http://www.facebook.com/
    = f.text_field :facebook, placeholder: 'johndoe'
  .input
    %span.url-label http://www.twitter.com/
    = f.text_field :twitter, placeholder: 'johndoe'
  .input
    %label
      Contact Email
      %span.caption Input your contact email
    = f.text_field :contact_email
  .input
    %label
      Contact Phone
      %span.caption Input your contact phone number
    = f.text_field :contact_phone
  .input
    %label
      Blog Address
      %span.caption Input your blog address
    = f.text_field :blog_address, placeholder: 'www.example.com/blog'
  .input
    %label
      Tags
      %span.caption Input keywords separated by comma
    = text_field_tag :tags, current_user.tags.join(', '), placeholder: 'ex. programmer, teacher'
    %i.icon-question-sign.bootstrapTooltip{rel: 'tooltip', 'data-title' => 'This will allow your profile to be more easily searchable when employers search for job seekers by keyword.'}
  .input
    %label
      About Me
      %span.caption Tell us about yourself
    = f.text_area :about_me, :size => "22x7"
  .input
    %label
      How I Add Value
      %span.caption What are your strengths?
    = f.text_area :ideal_role, :size => "22x7"
  .submit
    = f.submit 'Update Profile', class: 'button'

  .clear