- content_for :title do
  Home

= render :partial => 'layouts/flash', :locals => {:flash => flash}

.filters.left
  .filter-title Filter Bids
  %ul
    = filter_link 'All', job_seekers_root_path, nil
    = filter_link 'Not Responded', job_seekers_root_path, 'not_responded'
    = filter_link 'Accepted', job_seekers_root_path, 'accepted'
    = filter_link 'Declined', job_seekers_root_path, 'declined'

.bids.right
  - unless @bids.count > 0
    .no-bids There are no bids to display
  = render @bids
