- content_for :title do
  My Profile

#profile_info_container.left
  - if @user.about_me.nil? or @user.about_me.length < 1 or @user.ideal_role.nil? or @user.ideal_role.length < 1 or @user.contact_phone.nil? or @user.contact_phone.length < 1 or @user.contact_email.nil? or @user.contact_email.length < 1
    .warning
      = image_tag '25.png'
      Your profile is incomplete. Please
      = link_to 'edit', job_seekers_edit_info_path
      your profile to complete it.
  #profile_info

    #info.left
      %strong.title About Me
      %br
      .attribute{:id => "about_me"}= simple_format(truncate(@user.about_me, :length => 500))
      .more{:id => "about_more"}= more_about_me(@user)
      %br
      %strong.title How I Add Value
      %br
      .attribute{:id => "add_value"}= simple_format(truncate(@user.ideal_role, :length => 500, :omission => '... (continued)'))
      .more{:id => "value_more"}= more_value(@user)

    .clear

#user_info_container.right
  %h2
    My Info
    = link_to '(edit)', job_seekers_edit_info_path, :class => 'small_title'
  #user_info
    %strong URL:
    %span.right= link_to "#{request.host}/#{@user.user_url}", @user.user_url
    %br
    %strong Contact Email:
    %span.right= @user.contact_email
    
    .clear
    %strong Phone:
    - if !@user.contact_phone.nil? and @user.contact_phone.length > 0
      %span.right= number_to_phone @user.contact_phone, :area_code => true
      
    .clear
    - if @user.has_facebook_enabled?
      %strong Facebook:
      %span.right= link_to @user.facebook, url_with_protocol(@user.facebook), :target => '_blank'
      %br
    - if @user.has_twitter_enabled?
      %strong Twitter:
      %span.right= link_to @user.twitter, url_with_protocol(@user.twitter), :target => '_blank'
      %br
    - if @user.has_blog_enabled?
      %strong Blog:
      %span.right= link_to @user.blog_address, url_with_protocol(@user.blog_address), :target => '_blank'
  #photo.left
    = image_tag @user.photo.url(:regular)

  