.bidding
  .options
    = link_to "View Profile", employers_seeker_path(@bidding.seeker)
    = link_to "Remove Bid", employers_bidding_path(@bidding), :confirm => 'Are you sure?', :method => :delete
  = image_tag @bidding.seeker.photo.url(:thumb)
  %p= link_to(@bidding.seeker.to_s, employers_seeker_path(@bidding.seeker))
  %p= link_to("View Resume", @bidding.seeker.resume.url)
  %p= @bidding.comment
  .clear
  