- content_for :title do
  Bids Awaiting Response

= render :partial => 'layouts/flash', :locals => {:flash => flash}

.bid_header
  %h2.left Bids Awaiting Response
  %ul#bid_menu.right
    %li.border
    = link_to 'Interested Bids', employers_interested_bids_path
    - if current_user.get_interested_biddings_count > 0
      %span.notification= current_user.get_interested_biddings_count
    |
    %li
      = link_to 'Not Interested Bids', employers_uninterested_bids_path
      - if current_user.get_uninterested_biddings_count > 0
        %span.notification= current_user.get_uninterested_biddings_count
  .clear

- if @bids.count > 0
  - @bids.each do |@bidding|
    = render :partial => 'bidding'
- else
  %h3 You have no bids to display
  
= will_paginate @bids