- content_for :title do
  Uninterested Bids

= render :partial => 'layouts/flash', :locals => {:flash => flash}

.bid_header
  %h2.left Bids with no interest
  %ul#bid_menu.right
    %li.border
      = link_to 'Bids Awaiting Response', employers_biddings_path
      - if current_user.get_unreplied_biddings_count > 0
        %span.notification= current_user.get_unreplied_biddings_count
    |
    %li
      = link_to 'Interested Bids', employers_interested_bids_path
      - if current_user.get_interested_biddings_count > 0
        %span.notification= current_user.get_interested_biddings_count
  .clear
-if @bids.count > 0
  - @bids.each do |@bidding|
    = render :partial => "bidding"
  %br
- else
  %h3 You have no bids to display

= will_paginate @bids