= form_for @user do |f|
  - unless flash.empty?
    = render 'layouts/flash', flash: flash
  .input
    %label 
      Email
      %span.caption Enter your email address
    = f.text_field :email
  
  .input
    %label 
      Password
      %span.caption Enter your password
    = f.password_field :password
  
  .input
    %label 
      Password Confirmation
      %span.caption Confirm your password
    = f.password_field :password_confirmation

  .input
    %label
      First Name
      %span.caption Enter your first name
    = f.text_field :first_name
  
  .input
    %label
      Last Name
      %span.caption Enter your last name
    = f.text_field :last_name
  
  .input.radioButton
    %label
      Job Seeker
      %span.caption Sign up as a job seeker
    = radio_button_tag :role, 'job_seeker', true

  .input.radioButton
    %label
      Employer
      %span.caption Sign up as an employer
    = radio_button_tag :role, 'employer'

  .submit.marginTop20.sign-up
    = f.submit "Sign Up"
  
