- content_for :title do
  = "EmployTown - #{@user}'s Profile"

.profile
  .photo.left
    = image_tag @user.photo.url(:regular)
  .info
    .name
      = @user
      = @user.facebook
      = @user.twitter
      = @user.blog
    %hr
    = @user.user_contact_email
    = @user.contact_phone
    .title About Me
    .about= simple_format @user.about_me
    .title My Ideal Role
    .ideal-role= simple_format @user.ideal_role

  .clear
