- content_for :title do
  = "#{@user}'s Profile"

-#.options.right
-#  - if !@user.resume_file_name.eql? nil
-#    = link_to "View My Resume", @user.resume.url
-#
-#
-#%h1= @user.first_name + ' ' + @user.last_name
-#
-#
-#.clear
-#
-#.left-column.left
-#  = image_tag @user.photo.url(:regular)
-#
-#  
-#  #info-container
-#    %p
-#      = @user.email
-#
-#.right-column.left
-#  .right-column-container
-#    %p
-#      %span.title About Me:
-#      = @user.about_me
-#    %p
-#      %span.title How I Add Value:
-#      = @user.ideal_role

#user-about.left
  #profile-photo.left
    = image_tag @user.photo.url(:regular)
    %br
    .caption= @user
  %strong.title About Me
  %br
  #about_me= simple_format(truncate(@user.about_me, :length => 500, :omission => '... (continued)'))
  .more{:id => 'about_more'}= more_about_me(@user)
  %br
  %strong.title How I Add Value
  #add_value= simple_format(truncate(@user.ideal_role, :length => 500, :omission => '... (continued)'))
  .more{:id => 'value_more'}= more_value(@user)

#user-info.right
  .title= @user
  - if !@user.resume_file_name.nil?
    .attr.center= link_to 'My Resume', @user.resume.url
  - else
    .small-text (User has not uploaded a resume)
  %br
  .attr= @user.contact_email
  .attr= number_to_phone @user.contact_phone, :area_code => true
  - if @user.has_facebook_enabled?
    -#.attr= @user.facebook
    = link_to image_tag('facebook.png'), @user.facebook
  - if @user.has_twitter_enabled?
    -#.attr= @user.twitter
    = link_to image_tag('twitter.png'), @user.twitter
  - if @user.has_blog_enabled?
    -#.attr= @user.blog_address
    = link_to image_tag('blog.png'), @user.blog_address
