.bid
  .info.left
    .arrow.arrow-down.left.hide
    .arrow.arrow-right.left
    = bid.status
    .name.left.bootstrapTooltip{rel: 'tooltip', 'data-delay' => 800, 'data-title' => "Click to view #{bid.job_seeker}'s profile"}
      = link_to bid.job_seeker, user_path(bid.job_seeker)
      \-
      = bid.job_seeker.contact_email
  .image.right= image_tag bid.job_seeker.photo.url(:thumb)
  = bid.cancel_button('main right')
  .detailsBox.hide
    .photo.right
      = image_tag bid.job_seeker.photo.url(:small)
    %table
      %tr
        %td.border-bottom.no-left-padding{ width: '180px' } Job Title
        %td.border{ width: '1px' }
        %td= bid.job_title
      %tr
        %td.border-bottom.no-left-padding Salary Offered
        %td.border
        %td= bid.salary
      %tr
        %td.no-left-padding Job Description
        %td.border
        %td= simple_format truncate(bid.job_description, length: 200)
    = bid.cancel_button
  .clear