= form_for [:employers, @bid], :url => {:action => 'create'} do |f|
  = render 'layouts/flash', flash: flash
  .input.no-caption
    %label
      Job Title
    = f.text_field :job_title
  .input.no-caption
    %label
      Salary Offered
    = f.text_field :salary
  .input.no-caption.select
    %label
      Salary Term
    = f.select :salary_term, options_for_select([['Year', 'year'], ['Hour', 'hour']])
  .input
    %label
      Contact
      %span.caption The name of your company contact
    = f.text_field :contact_name
  .input
    %label
      Contact Email
      %span.caption The email of your contact
    = f.text_field :contact_email
  .input
    %label
      Job Description
    = f.text_area :job_description, :size => "30x8"
  .submit
    = f.submit 'Submit Bid', class: 'button'
  .clear

  

