- content_for :title do
  Bids

= render 'layouts/flash', flash: flash

.filters.left
  .filter-title Filter Bids
  %ul
    = filter_link 'All', employers_bids_path, nil
    = filter_link 'Sent', employers_bids_path, 'sent'
    = filter_link 'Accepted', employers_bids_path, 'accepted'
    = filter_link 'Declined', employers_bids_path, 'declined'

.bids.right
  - unless @bids.count > 0
    .no-bids There are no bids to display
  = render @bids