= form_for [:employers, @company] do |f|
  -if @company.errors.any? 
    %div{:id => "error_explanation"}
      %h2= pluralize(@company.errors.count, "error") + "prohibited this company from being saved:"

      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg


  .input
    = f.label :name
    %br	
    = f.text_field :name  

  .input
    = f.label :url
    %br
    = f.text_field :url 
    
  .input
    = f.label :description
    %br
    = f.text_area :description, :size => "44x8"  

  .submit
    = f.submit  
