= form_for [:employers, @company], :url => employers_company_path do |f|

  .right.photo
    = image_tag @company.logo.url(:regular)
    .input.photo-field
      = f.file_field :logo

  .left
    = render 'layouts/flash', flash: flash
    .input
      %label
        Company Name
        %span.caption Enter your company name
      = f.text_field :name

  .input
    %label
      Company Website
      %span.caption Enter your company's website
    = f.text_field :company_url, placeholder: 'www.company.com'
  .input
    %span.url-label http://facebook.com/
    = f.text_field :facebook, placeholder: 'my.company'
  .input
    %span.url-label http://twitter.com/
    = f.text_field :twitter, placeholder: 'my.company'
  .input
    %label
      Blog Address
      %span.caption Input your blog address
    = f.text_field :blog_address, placeholder: 'http://'
  .input
    %label
      Company Description
      %span.caption Tell us a little more about your company
    = f.text_area :description, :size => "44x5"

  .input
    %label
      Why My Company Rocks
      %span.caption Tell us why someone should work for your company
    = f.text_area :why_work_for, :size => "44x5"

  .input
    %label
      What I Am Looking For
      %span.caption Tell us what you are looking for in a potential employee
    = f.text_area :looking_for, :size => "44x5"

  .submit
    = f.submit submit_button_text, class: 'button'
  .clear