= form_for [:employers, @company], :url => employers_company_path do |f|
  -if @company.errors.any? 
    .error
      = image_tag 'Exclamation.png'
      %strong &nbsp; Please fix the following errors
      %br
      %br
      - @company.errors.full_messages.each do |msg|
        %li.message= msg
  - if flash[:success]
    .success
      = image_tag 'checkmark.png'
      - flash.each do |key, msg|
        &nbsp;
        = msg

  .input-container
    .left
      .input
        = f.label :name
        %br	
        = f.text_field :name  
    
      .input
        = f.label :company_website
        %br
        = f.text_field :company_url 
      .input
        = f.label :company_description
        %br
        = f.text_area :description, :size => "44x22" 
      .submit
        = f.submit  

    .right
      .input
        = f.label :why_would_you_want_to_work_for_my_company?
        %br
        = f.text_area :why_work_for, :size => "44x5"

      .input
        = f.label :what_i_am_looking_for
        %br
        = f.text_area :looking_for, :size => "44x5"
    
      - if !action_name.eql? 'new'
        .input
          - if !@company.has_facebook_enabled?
            = link_to 'Add a Facebook URL', enable_media_employers_company_path(social_flag: :facebook_flag)
          - else
            = f.label :facebook_address
            = link_to '(Disable)', disable_media_employers_company_path(social_flag: :facebook_flag)
            %br
            = f.text_field :facebook
        .input
          - if !@company.has_twitter_enabled?
            = link_to 'Add a Twitter URL', enable_media_employers_company_path(social_flag: :twitter_flag)
          - else
            = f.label :twitter_address
            = link_to '(Disable)', disable_media_employers_company_path(social_flag: :twitter_flag)
            %br
            = f.text_field :twitter
        .input
          - if !@company.has_blog_enabled?
            = link_to 'Add a Blog URL', enable_media_employers_company_path(social_flag: :blog_flag)
          - else
            = f.label :blog_address
            = link_to '(Disable)', disable_media_employers_company_path(social_flag: :blog_flag)
            %br
            = f.text_field :blog_address
  .clear