%h1 Listing companies 

%table
  %tr
    %th Name 
    %th Url 
    %th  
    %th  
    %th  

  - @companies.each do |company|
    %tr
      %th=  company.name   
      %th=  company.url   
      %th=  link_to 'Show', employers_company_path(company)   
      %th=  link_to 'Edit', edit_employers_company_path(company)   
      %th=  link_to 'Destroy', employers_company_path(company), :confirm => 'Are you sure?', :method => :delete 

= link_to 'New Company', new_employers_company_path  
