-#.bidding
-#  .options
-#    Change your mind?
-#    =link_to "Not Interested", not_interested_seekers_bidding_path(@bidding.id)
-#  = image_tag @bidding.employer.photo.url(:thumb)
-#  %p
-#    %span= @bidding.employer.to_s 
-#    %span @ 
-#    %span= link_to(@bidding.employer.company, seekers_company_path(@bidding.employer.company)) + " is interested in your skills."
-#    = mail_to @bidding.employer.email, "Send an Email"
-#  .bid{:id => "bid#{@bidding.id}"}= simple_format(truncate(@bidding.comment, :length => 200))
-#  .read_more{:id => "more#{@bidding.id}"}= more_link(@bidding)
-#  .clear
.bid
  .bid_info.left
    %strong Company:
    = @bidding.employer.company
    %br
    %strong Job Title: 
    = @bidding.title
    %br
    %strong Salary Offered:
    = "#{number_to_currency @bidding.salary, :precision => 0} / #{@bidding.salary_term}"
    %br
    %br
    %strong Job Description:
    %br
    .comment{:id => "bid#{@bidding.id}"}= simple_format(truncate(@bidding.comment, :length => 200, :omission => '... (continued)'))
    .read_more{:id => "more#{@bidding.id}"}= more_link(@bidding)
    %br
    %strong Contact Name:
    = @bidding.employer
    %br
    %strong Contact Email:
    %span.mail= mail_to @bidding.contact_email, @bidding.contact_email
  .choice.right
    = image_tag @bidding.employer.photo.url(:thumb)
    .clear
    .interest_box
      %span Change Your Mind?
      -#%br
      = link_to image_tag('delete_item.png') + 'Uninterested', not_interested_seekers_bidding_path(@bidding.id)

  .clear
