.bid
  .bid_info.left
    %strong Company:
    = @bidding.employer.company
    %br
    %strong Job Title: 
    = @bidding.title
    %br
    %strong Salary Offered:
    = "#{number_to_currency @bidding.salary, :precision => 0} / #{@bidding.salary_term}"
    %br
    %br
    %strong Job Description:
    %br
    .comment{:id => "bid#{@bidding.id}"}= simple_format(truncate(@bidding.comment, :length => 200, :omission => '... (continued)'))
    .read_more{:id => "more#{@bidding.id}"}= more_link(@bidding)
    %br
    %strong Contact Name:
    = @bidding.employer
    %br
    %strong Contact Email:
    %span.mail= mail_to @bidding.contact_email, @bidding.contact_email
    %br
    - unless @bidding.employer.company.nil?
      %strong Company Website:
      %span.mail= link_to @bidding.employer.company.url, url_with_protocol(@bidding.employer.company.url), :target => '_blank'
      %br
    - if @bidding.employer.company.has_facebook_enabled? and !@bidding.employer.company.facebook.nil? and !@bidding.employer.company.facebook.blank?
      .left= link_to image_tag('facebook.png'), url_with_protocol(@bidding.employer.company.facebook)
    - if @bidding.employer.company.has_twitter_enabled? and !@bidding.employer.company.twitter.nil? and !@bidding.employer.company.twitter.blank?
      .left= link_to image_tag('twitter.png'), url_with_protocol(@bidding.employer.company.twitter)
    - if @bidding.employer.company.has_blog_enabled? and !@bidding.employer.company.blog_address.nil? and !@bidding.employer.company.blog_address.blank?
      .left= link_to image_tag('blog.png'), url_with_protocol(@bidding.employer.company.blog_address)
  .choice.right
    = image_tag @bidding.employer.photo.url(:thumb)
    .clear
    .interest_box
      %span Change Your Mind?
      -#%br
      = link_to image_tag('delete_item.png') + 'Interested', interested_seekers_bidding_path(@bidding.id)

  .clear
