- content_for :title do
  Bids and Offers

= render :partial => 'layouts/flash', :locals => {:flash => flash}

.bid_header
  %h2.left Bids awaiting your reply
  %ul#bid_menu.right
    %li.border
      = link_to 'Interested Bids', seekers_interested_bids_path
      - if current_user.get_interested_biddings_count > 0
        %span.notification= current_user.get_interested_biddings_count
    |
    %li
      = link_to 'Not Interested Bids', seekers_uninterested_bids_path
      - if current_user.get_uninterested_biddings_count > 0
        %span.notification= current_user.get_uninterested_biddings_count
  .clear

- if @bids.count > 0
  - @bids.each do |@bidding|
    = render :partial => "bidding"
  %br
- else
  %h3 You have no bids awaiting your reply

= will_paginate @bids