%p
  %b employer: 
  = @bidding.employer_id  
 

%p
  %bSeeker: 
  = @bidding.seeker_id  
 

%p
  %bDate: 
  = @bidding.date  
 

%p
  %bComment: 
  = @bidding.comment  
 

%p
  %bInterested: 
  = @bidding.interested  
 


= link_to 'Edit', edit_seekers_bidding_path(@bidding)
= link_to 'Back', seekers_biddings_path  
