.user
  .options= link_to 'View Profile', employers_seeker_path(@tag.user)
  = image_tag @tag.user.photo.url(:thumb)
  %p= @tag.user.to_s
  %p= @tag.user.email
  %p
    %b Tags:
    - for tag in @tag.user.tags
      = tag.to_s
  .clear