.result
  .info.left
    .arrow.arrow-down.left.hide
    .arrow.arrow-right.left
    %span.name.bootstrapTooltip{rel: 'tooltip', 'data-delay' => 800, 'data-title' => "Click to view #{user}'s profile"}= link_to user, user_path(user)
    = user.facebook
    = user.twitter
    = user.blog
  .image.right= user.photo(:thumb)
  = user.send_bid_button('main right')
  .detailsBox.hide
    .photo.right= user.photo(:small)
    %table
      %tr
        %td.border-bottom.no-left-padding{ width: '180px' } Email
        %td.border{ width: '1px' }
        %td.content= mail_to user.contact_email, user.contact_email
      %tr
        %td.border-bottom.no-left-padding Phone
        %td.border
        %td.content= user.phone
      %tr
        %td.border-bottom.no-left-padding Resume
        %td.border
        %td.content= user.resume
      %tr
        %td.border-bottom.no-left-padding About Me
        %td.border
        %td.content= user.about
      %tr
        %td.no-left-padding Ideal Role
        %td.border
        %td.content= user.my_ideal_role
    = user.send_bid_button
  .clear