%h1 Search For Potential Employees
=render :partial => "layouts/search"

- if params[:search].blank?
  %p.search_phrase
    Look for potential employees by searching for a tag, a name, or an email address.
    
- unless params[:search].blank?
  - if @users.count == 0 and @tags.count == 0
    %p.search_phrase No users found with that search criteria
  -else
    %br
    Displaying #{pluralize(@users.count + @tags.count, 'user')}.
    %br
    %br
    - unless @users.count == 0
      .search_box
        %hr
        %h2 Users matching user attributes
        %hr
        - for @user in @users
          = render :partial => "user"
        = will_paginate @users, :param_name => :users_page
        %br
        %br
        %br
        %hr
    - unless @tags.count == 0
      .search_box
        %h2 Users matching tags
        %hr
        - for @tag in @tags
          = render :partial => "tag"
        = will_paginate @tags, :param_name => :tags_page
  