- content_for :title do
  Search for Potential Employees

.form-container.search
  .form-header Search For Potential Employees
  .form-body
    = render 'form'
    - if params[:search].blank?
      %p Look for potential employees by searching for a tag, a name, or an email address.
    - else
      = link_to 'Clear', employers_search_path

    
- unless params[:search].blank?
  .records-count{class: @users.count > 0 ? 'border-bottom' : ''}= "#{pluralize(@users.count, 'user')} found matching that criteria."
  - @users.each do |user|
    = render 'user', user: user