%p{:id => "notice"}= notice

= render :partial => 'layouts/profileview'

%p
  = link_to 'Send Bid', {:controller => "biddings", :action => "create", :seeker_id => @seeker.id}, :method => :post
  = link_to 'create bid', new_employers_bidding_path(:seeker_id => @seeker.id)

= link_to 'Back', employers_seekers_path
