%p{:id => "notice"}= notice

%p  
  %b First Name:
  = @seeker.first_name

%p
  %b Last Name:
  = @seeker.last_name
%p
  = link_to 'Send Bid', {:controller => "biddings", :action => "create", :seeker_id => @seeker.id}, :method => :post

= link_to 'Back', employers_seekers_path
