-#- form_for [:seekers, @user], :url => {:action => 'update'}, :html => { :multipart => true } do |f|	
.right-container-form
  - if @user.errors.any?
    .error
      - for message in @user.errors.full_messages
        .message= message
  .input
    = f.label :resume
    %br
    = f.file_field :resume
  .input
    = f.label :user_url
    %br
    = f.text_field :user_url
  .input
    = f.label :about_me
    %br
    = f.text_area :about_me, :size => "22x4"
  .input
    %span.label How I Add Value
    %br
    = f.text_area :ideal_role, :size => "22x4"
  .submit
    = f.submit  