- content_for :title do
  Profile View

#home_bids_container.left
  - if @bids.count > 0
    %h2= "#{pluralize(@bids.count, 'bid')} await your response"
  - else
    %h2 &nbsp;
  #home_bids
    - if @bids.count > 0
      - @bids.each do |@bidding|
        = render :partial => "bidding"
      %br
    -else
      %h3 You have no new bids

#home_tags_container.right
  %h1 &nbsp;
  #home_tags
    - if current_user.get_bid_count > 0
      You have 
      = link_to pluralize(current_user.get_bid_count, 'bid'), seekers_biddings_path
      %ul
        - if current_user.get_unreplied_biddings_count > 0
          %li= "#{current_user.get_unreplied_biddings_count} waiting your response"
        - if current_user.get_interested_biddings_count > 0
          %li= "#{current_user.get_interested_biddings_count} interested"
        - if current_user.get_uninterested_biddings_count > 0
          %li= "#{current_user.get_uninterested_biddings_count} not interested"
    - else
      You don't have any bids
      %br
      %li.no_decoration 
        Work on your 
        = link_to 'profile', seekers_profile_path
        to attract more bids
    %br
    - if current_user.get_tag_count > 0
      You have created
      = link_to pluralize(current_user.get_tag_count, 'tag'), new_seekers_tag_path
    - else
      You haven't created any tags!
      = link_to 'Create tags', new_seekers_tag_path
    %br
    - if current_user.resume_file_name.eql? nil
      You haven't uploaded a resume yet
      = link_to 'Upload your resume', seekers_edit_info_path

.clear
= will_paginate @bids
