.triple-column{:id => "left"}
  %h3 About Us
  %ul
    %li= link_to "Crazy Link 1", root_url
    %li= link_to "Frantic Link 2", root_url
    %li= link_to "Party Link 3", root_url
.triple-column{:id => "center"}
  %h3 Contact Us
  %ul
    %li= link_to "Funny Link 1", root_url
    %li= link_to "Cougar Link 2", root_url
.triple-column{:id => "right"}
  %h3 Login
  %ul
    %li= link_to "Login", login_path
    %li= link_to "Sign Up", signup_path