.header
  .topnav
    .link-container.right
      %span.social= link_to image_tag('facebook-logo-small.png'), 'http://www.facebook.com/employtown', target: '_blank'
      %span.social= link_to image_tag('twitter-bird-dark-bgs-small.png'), 'http://www.twitter.com/employtown', target: '_blank'
    .clear
  .bottomnav
    #logo.left
      = link_to root_path do
        Employ
        %span.bold Town
    .nav.right
      %ul.menu
        %li.left= link_to "Login", login_path
        %li.left= link_to "Sign Up", signup_path, class: 'button'
    .clear