.options
  - if current_user.resume_file_name.eql? nil
    = link_to 'Please Upload a Resume', edit_seekers_user_path(current_user)
  -else
    %p
      = link_to "View My Resume", @user.resume.url

%h2= @user.to_s + "'s Profile"

%p
  = image_tag @user.photo.url(:regular)

%p
  About Me:
  = simple_format @user.about_me