.options.right
  - if current_user.resume_file_name.eql? nil
    User has not uploaded a resume yet.
  - else
    = link_to "View My Resume", @seeker.resume.url
  - if !@seeker.has_bid_from_employer?(current_user)
    = link_to 'Send a Bid', new_employers_bidding_path(:seeker_id => @seeker.id)
  -else
    %br
    Bid already sent

%h1= @seeker.first_name + ' ' + @seeker.last_name

.clear

.left-column.left
  = image_tag @seeker.photo.url(:regular)

  .small-title
    My Information
  #info-container
    %p
      = @seeker.email
    %p
      = request.env['HTTP_HOST'].to_s + "/" + @seeker.user_url

.right-column.left
  .right-column-container
    -#.right= link_to 'Edit', seekers_edit_info_path(current_user)
    %p
      %span.title About Me:
      = @seeker.about_me
    %p
      %span.title How I Add Value:
      = @seeker.ideal_role

