!!! XML
!!!
%html{ :'xml:lang' => "en", :lang => "en" }
  %head
    %title
      = h("EmployTown - #{yield(:title)}")

    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = csrf_meta_tag
    = javascript_include_tag 'application', :media => 'all'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Exo'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Advent+Pro'
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21752948-1']);
      _gaq.push(['_setDomainName', 'employtown.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  
  %body.admin
    .wrapper
      = render 'layouts/admin_header'
      .container
        = yield
      .push
      .clear
    .footer
      = render :partial => 'layouts/admin_footer'