!!! XML
!!!
%html{ :'xml:lang' => "en", :lang => "en" }
  %head
    %title
      = h(yield(:title) || "Untitled")

    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
	
  %body
    .header
      .body
        %h1 EmployTown
        = general_nav(current_user)
        = quick_nav(current_user)
      .clear
    .container
      .body
        = yield
    .footer
      .body
        = render :partial => "layouts/footer"
      .clear