!!! XML
!!!
%html{ :'xml:lang' => "en", :lang => "en" }
  %head
    %title
      = h(yield(:title))

    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = csrf_meta_tag
    = javascript_include_tag 'application', :media => 'all'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Exo'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Advent+Pro'
	
  %body.main
    .wrapper
      = render 'layouts/main_header'
      .container
        = yield
      .push
      .clear
    .footer
      .link-container
        = render :partial => 'layouts/main_footer'